// body{
//  font-size: medium;
//  height: fit-content;
//  background-color: lightgrey;
//  row-gap: 20px;
//  margin: 20px;
//  display:flex;
// }
.header{
  height: auto;
  width: 100%;
  cursor: pointer;
}