
.main-view{
  font-size:medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  row-gap: 20px;
  
   box-shadow: 2px 2px 8px #000;
   
}
.container{
  padding-top:80px;
 }