
.main-view{
  font-size:medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  row-gap: 20px;
  display:flex;
  // flex-wrap:inherit;
  //  box-shadow: 2px 2px 8px #000;
   
}

.container {
//   margin-left: 100px;
   padding-bottom:80px;
 }
.navbar-link{
  float: right;
}