.genre-view{
// background-color:rgb(198, 233, 235); 
text-align: center;
min-height: 50vh;
text-align: center;
justify-content: center;
}

.dialog{
    box-shadow: 2px 2px 8px #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     max-width: 85vh;
     font-size: 20px;
    margin-top: 100px;
    background-color: rgb(252, 251, 251);
}
.modal-content{
    
    //  background-color: rgba(247, 247, 252, 0.548);
     font-size: 20px;
   }

   .text-muted{
       text-align: center;
   }