.display-4 {
  color: crimson;
  margin-left: 20px;
}

.movie-view {
  margin-top: 50px;
}
.ml-4 {
  border-radius: 10px;
}

.add-favorite-btn {
  margin-left: 20px;
}

.btn-secondary:hover {
  color: aqua;
}
