.form {
  
  //display: flex;
  align-items: center;
  justify-content: center;
  color: azure;
  // border: black;
   margin: 100px;
   min-width: 50vh;
  //  background-color: lightgray;
}
.label{
  color:cadetblue;
}
.register{
  float:right;
  // margin-bottom: 50px;
  // margin-left: 50px;
  // padding:50px;
}

