.form {
  align-items: center;
  justify-content: center;
  color: azure;
  margin:50 25%;
  width: 40%;
  
}
.label{
  color:cadetblue;
}
.register{
  float:right;
  margin-bottom: 50px;
   width: 100%;
}

.p{
text-align: center;
justify-content: center;
align-items: center;
}

.login-view{
  align-items: center;
  justify-content: center;
margin-top: 100px;
 
}

.text-primary{
  margin-bottom: 50px;
}

.account{
 margin-top: 30px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}