.align-items-center {
  top: 50px;
}

.button-director {
  background-color: rgb(51, 89, 211);
  width: 200px;
  height: 40px;
  font-size: 18px;
  padding: 5px 10px;
  outline: none;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.button-director:hover {
  color: crimson;
}
